.menu-dropdown-list {
    animation: growDown 300ms ease-in forwards;
    transform-origin: top center;
}

.menu-dropdown {
    animation: growDown 300ms ease-in forwards;
    transform-origin: top center;
}

// .dropdown_menu_1 {
//     @for $num from 0 through 10 {
//         li {
//             transform-origin: top center;
//             animation: slideDown 400ms ($num * 60ms) ease-in forwards}
//     }
// }

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

// @keyframes slideDown {
//     0% { 
//       opacity: 0;
//       transform: translateY(-60px);
//     }
  
//     100% {
//       opacity: 1;
//       transform: translateY(0);
//     }
//   }